.cards__likebutton {
  background-image: url(../../../images/addLike.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  min-width: 22px;
  min-height: 19px;
  padding: 0;
  border: none;
  cursor: pointer;
  transition: opacity .2s linear;
}

.cards__likebutton:hover {
  opacity: .5;
  transform: scale(1.3);
}
