.form__submitbutton {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
  min-height: 50px;
  margin-top: 48px;
  color: #fff;
  border: none;
}

.form__submitbutton:hover {
  opacity: .8;
}

@media screen and (max-width: 999px) {
  .form__submitbutton {
    margin-top: 45px;
  }
}

@media screen and (max-width: 600px) {
  .form__submitbutton {
  font-size: 14px;
  line-height: 17px;
  min-height: 46px;
  }
}