.profile__addButton {
  min-width: 150px;
  min-height: 50px;
  border: 2px solid white;
  background-color: black;
  background-image: url(../../../images/addButton.png);
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: auto;
  cursor: pointer;
  transition: opacity .2s linear;
}

.profile__addButton:hover {
  opacity: .6;
}

@media screen and (max-width: 999px) {
  .profile__addButton {
    margin-right: auto;
    margin-top: 34px;
    min-width: 282px;
    background-size: 16px 16px;
  }
}
