.profile__addbutton {
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #fff;
  background-image: url(../../../images/addButton.png);
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: auto;
}

.profile__addbutton:hover {
  opacity: .6;
}

@media screen and (max-width: 999px) {
  .profile__addbutton {
    margin-right: auto;
    margin-top: 36px;
    min-width: 282px;

  }
}
