.profile__editbutton {
  width: 24px;
  height: 24px;
  background-image: url(../../../images/editButton.png);
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 37px;
  margin-bottom: 59px;
  border: 1px solid #fff;
}

.profile__editbutton:hover {
  opacity: .6;
}

@media screen and (max-width: 999px) {
  .profile__editbutton {
    margin-top: 8px;
    max-width: 18px;
    max-height: 18px;
  }
}